#novel-style-area {
  background-color: #FAFAFA;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 40rem;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 2rem; }

#novel-text-area {
  overflow: auto; }

#novel-choices-area {
  overflow: auto; }

#novel-notification-wrapper {
  position: absolute;
  left: 50%; }
  #novel-notification-wrapper .novel-notification {
    background-color: #FAFAFA;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    text-align: center;
    position: relative;
    left: -50%;
    margin: auto;
    padding: 1rem;
    display: none; }
    #novel-notification-wrapper .novel-notification button {
      margin: 0.4rem; }
    #novel-notification-wrapper .novel-notification textarea {
      width: 40rem;
      height: 30rem; }

#novel-skip-button {
  float: right; }

#novel-area a {
  text-decoration: none;
  color: #1976D2; }
  #novel-area a:hover {
    color: #42A5F5; }

#novel-area ul {
  padding-left: 1rem;
  list-style-type: circle; }

#novel-inventory li .novel-inventory-item-info {
  display: none; }

#novel-inventory li:hover .novel-inventory-item-info {
  display: inline; }
  #novel-inventory li:hover .novel-inventory-item-info li {
    margin-left: 2rem; }

#novel-footer-text {
  padding-top: 1rem;
  font-size: 80%;
  color: #BDBDBD; }
  #novel-footer-text a {
    color: #757575; }

.highlight-1 {
  font-weight: bold; }

.highlight-2 {
  font-weight: bold;
  color: red; }

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 50%;
  margin-right: 0;
  padding: 0;
  width: 50%;
  float:right;
}

.page {
  margin-right:0;
  float:right;
  height: 50%;
  position: relative;
  width: 50%;
  top:500px;
  }

/* Login Page */

.login.page {
  background-color: #ffffff;
}

.login.page .form {
  height: 100px;
  margin-right:0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 50%;
  float:right;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 200px;
}

.login.page .title {
  font-size: 100%;
  text-align: center;
}

.login.page .usernameInput {
  font-size: 150%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #000;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
  width:200px;
  height:500px;
}

/* Font */

.messages {
  font-size: 150%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 10px solid #000;
  bottom: 0;
   height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}
